$darkGreen: #3C3633;
$lightGreen:#436850;
$primaryOrange: #FF5B22;
$white: #ffffff;
$accentError: #FF0000;

:export {
  darkGreen: $darkGreen;
  lightGreen: $lightGreen;
  primaryOrange: $primaryOrange;
  accentError: $accentError;
}
