#root,
.App {
  height: 100%;
  display: flex;
  width: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: orange;
}

.page {
  padding: 12px 24px;
  width: 100%;
  overflow: auto;
  position: relative;

  @media (max-width: 600px) {
    margin-top: 56px;
  }
}

